{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}
<main class="site-main" role="main">
	<div class="site-content">

		<article class="{{post_class}}">			
			<header class="cover post-header">
				{{#if image}}
				<div class="cover-bg" style="background-image: url({{image}})"></div>
				{{/if}}
				<div class="cover-content">
					<div class="inner">
						{{#if tags}}
						<div class="tag-links">
							{{tags separator=""}}
						</div><!-- .tag-links -->
						{{/if}}
						<h1 class="post-title">{{title}}</h1>
						<div class="post-meta">
							by <span class="post-author">{{author}}</span> on <time class="published" datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM DD, YYYY"}}</time> <span class="reading-time">Read in <span class="eta"></span></span>
						</div><!-- .post-meta -->
						<a href="#" class="scroll-down square light icon-chevron-down"><span class="screen-reader-text">Scroll Down</span></a>
					</div><!-- .inner -->
				</div><!-- .cover-content -->
			</header><!-- .cover -->
			<div class="post-content inner">
				{{content}}
			</div><!-- .post-content -->
			<footer class="post-footer inner">
				<div class="share-post">
					<span>Share</span>
					<a class="icon-twitter square" target="_blank" href="http://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"><span class="screen-reader-text">Twitter</span></a>
					<a class="icon-facebook square" target="_blank" href="http://wwww.facebook.com/sharer.php?u={{url absolute="true"}}"><span class="screen-reader-text">Facebook</span></a>
					<a class="icon-google square" target="_blank" href="http://plus.google.com/share?url={{url absolute="true"}}"><span class="screen-reader-text">Google+</span></a>
				</div>
				{{! Everything inside the #author tags pulls data from the author }}
				{{#author}}
				<div class="author-box{{^if image}} no-avatar{{/if}}">
					{{#if image}}
					<img src="{{image}}" alt="{{name}}" class="author-avatar" />
					{{/if}}
					<h4 class="author-title">About <a href="{{url}}">{{name}}</a></h4>
					{{#if bio}}
					<p class="author-description">{{bio}}</p>
					{{/if}}
					<p class="author-links">
						{{#if location}}<span class="author-location"><i class="icon-map-marker" aria-hidden="true"></i> {{location}}</span>{{/if}}
						{{#if website}}<span class="author-website"><i class="icon-chain" aria-hidden="true"></i> <a href="{{website}}" target="_blank">{{website}}</a></span>{{/if}}
					</p>
				</div>					
				{{/author}}
			</footer><!-- .post-footer -->
		</article><!-- .post -->

		{{! The tag below includes the theme comments - partials/comments.hbs }}
		{{> comments}}

		{{! Previous/next post links }}
		<nav class="post-navigation" role="navigation">
			<h2 class="screen-reader-text">Post navigation</h2>
			{{#next_post}}
			<a href="{{url}}" class="nav-next">
				{{#if image}}
				<div class="nav-bg" style="background-image: url({{image}})"></div>
				{{/if}}
				<div class="nav-inside">
					<span class="nav-before">Next</span><span class="nav-title">{{title}}</span><span class="nav-date">{{date format="MMMM DD, YYYY"}}</span>
				</div>
			</a>
			{{/next_post}}
			{{#prev_post}}
			<a href="{{url}}" class="nav-previous">
				{{#if image}}
				<div class="nav-bg" style="background-image: url({{image}})"></div>
				{{/if}}
				<div class="nav-inside">
					<span class="nav-before">Previous</span><span class="nav-title">{{title}}</span><span class="nav-date">{{date format="MMMM DD, YYYY"}}</span>
				</div>			
			</a>
			{{/prev_post}}
		</nav><!-- .post-navigation -->

	</div><!-- .site-content -->
</main><!-- .site-main -->
{{/post}}
